*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-image:url("bg.jpeg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;


   
}
h1{
    height: 40px;
    width: 40%;
margin: auto;
line-height: 40px;
    background-color: #fdf0d5;
    color: #780000;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px #003049;
  
}
.choices{
    height: 20vh;
margin-top: 30px;
    /* background-color: #669bbc; */
  gap:20px;
    display:flex;
    justify-content:center;
    align-items: center;
   
}
.choice{
    height:15vh;
    width: 15vh;
    background-color: #fdf0d5;
   
    border-radius: 50%;
   
}
.choice:hover{
    
    transform: scale(1.1);
}
#stone{
    background-image: url("stone.jpeg");
    background-size: cover;
    background-position: center;
}
#paper{
    background-image: url("paper.jpeg");
    background-size: cover;
    background-position: center;

}
#scisor{
    background-image: url("scisor.jpeg");
    background-size: cover;
    background-position: center;

}
.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
    
}

.score{
 
    font-size: 20px;
    font-weight: 400;
}

#user-score,#comp-score{
    font-size: 30px;
}
#msg{
    height: 40px;
line-height: 40px;
    font-size: 20px;
    padding: 5px;
    background-color: #669bbc;
    color: #003049;
    border-style: none;
    border-radius: 15px;
    border :3px solid #003049;
    display: inline;
   
  
}
